<div class="grid-block stats">
	<div class="base grid-block">
		<label ng-repeat="(key, stat) in data.player.stats_base">
			<span class="inline-label">
				<span class="form-label">{{stat.name[languageIndex]}}</span>
				<input type="number" ng-change="calculateDependencies(key, stat)" ng-model="stat.value">
			</span>
		</label>
	</div>
	<div class="calculated grid-block">
		<label ng-repeat="(key, stat) in data.player.stats_calc">
			<span class="inline-label">
				<span class="form-label">{{stat.name[languageIndex]}}</span>
				<input type="text" ng-model="stat.value" disabled ng-class="{text:(key=='dmg_bonus')}">
			</span>
		</label>
	</div>
</div>

<div class="grid-block options">
	<label>Show unskilled</label>
	<div class="switch small">
		<input type="checkbox" id="showUnskilled" ng-model="showUnskilled" ng-change="">
		<label for="showUnskilled"></label>
	</div>
	<label>Show base value</label>
	<div class="switch small">
		<input type="checkbox" id="showValueBase" ng-model="showValueBase" ng-change="">
		<label for="showValueBase"></label>
	</div>
</div>

<div class="grid-block abilities medium-up-3 small-up-1">
	<div class="grid-block list">
		<table>
			<tr ng-repeat="(key, ability) in data.abilities.common | limitTo:getLength(data)" ability2>
			</tr>
		</table>
	</div>
	<div class="grid-block list">
		<table>
			<tr ng-repeat="(key, ability) in data.abilities.common | limitTo:-getLength(data)" ability2>
			</tr>
		</table>
	</div>

	<div class="grid-block list">
		<table>
			<thead>
				<tr>
					<td colspan="5">Firearms</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, ability) in data.abilities.firearms" ability2>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<td colspan="2">Other Skills</td>
					<td colspan="3" class="small">Time Period</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, ability) in data.abilities.other" ability2>
				</tr>
			</tbody>
		</table>
		<table>
			<thead>
				<tr>
					<td colspan="5">Custom Skills</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, ability) in data.abilities.custom" ability2>
				</tr>
			</tbody>
		</table>
	</div>

	<!--<div class="grid-block list">
		<div class="grid-block" ng-repeat="ability in data.abilities.common | limitTo:getLength(data)">
			<div ability></div>
		</div>
	</div>
	<div class="grid-block list">
		<div class="grid-block" ng-repeat="ability in data.abilities.common | limitTo:-(getLength(data))">
			<div ability></div>
		</div>
	</div>
	<div class="grid-block list">
		<div class="grid-block" ng-repeat="ability in data.abilities.firearms">
			<div ability></div>
		</div>
		<div class="grid-block" ng-repeat="ability in data.abilities.other">
			<div ability></div>
		</div>
		<div class="grid-block" ng-repeat="ability in data.abilities.custom">
			<div ability></div>
		</div>
	</div>-->

</div>